In [17]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
train = pd.read_csv('credit_train.csv', delimiter=';', encoding = 'cp1251')
test = pd.read_csv('credit_test.csv', delimiter=';', encoding = 'cp1251')

all_data = pd.concat([train, test])

In [20]:
train["open_account_flg"].value_counts()

0    140690
1     30056
Name: open_account_flg, dtype: int64

In [21]:
30056 / 140690

0.21363280972350557

In [22]:
for column in train.columns:
    if train[column].isnull().any():
        print('{0} , null_count : {1}'.format(column, train[column].isnull().sum()))

living_region , null_count : 192
monthly_income , null_count : 1
credit_count , null_count : 9230
overdue_credit_count , null_count : 9230

In [23]:
for column in train.columns:
    if train[column].isnull().any():
        print('{0} : null , count {1}: , number of opened accounts : {2}'.format(column, 
              train[column].isnull().sum(),
              train[(train['living_region'].isnull()) & (train["open_account_flg"] == 1)]))

living_region : null , count 192: , number of opened accounts : Empty DataFrame
Columns: [client_id, gender, age, marital_status, job_position, credit_sum, credit_month, tariff_id, score_shk, education, living_region, monthly_income, credit_count, overdue_credit_count, open_account_flg]
Index: []
monthly_income : null , count 1: , number of opened accounts : Empty DataFrame
Columns: [client_id, gender, age, marital_status, job_position, credit_sum, credit_month, tariff_id, score_shk, education, living_region, monthly_income, credit_count, overdue_credit_count, open_account_flg]
Index: []
credit_count : null , count 9230: , number of opened accounts : Empty DataFrame
Columns: [client_id, gender, age, marital_status, job_position, credit_sum, credit_month, tariff_id, score_shk, education, living_region, monthly_income, credit_count, overdue_credit_count, open_account_flg]
Index: []
overdue_credit_count : null , count 9230: , number of opened accounts : Empty DataFrame
Columns: [client_id, gender, age, marital_status, job_position, credit_sum, credit_month, tariff_id, score_shk, education, living_region, monthly_income, credit_count, overdue_credit_count, open_account_flg]
Index: []

In [24]:
list_of_cols = train.columns.tolist()
#list_of_cols.append('open_account_flg')

list_of_cols

['client_id',
 'gender',
 'age',
 'marital_status',
 'job_position',
 'credit_sum',
 'credit_month',
 'tariff_id',
 'score_shk',
 'education',
 'living_region',
 'monthly_income',
 'credit_count',
 'overdue_credit_count',
 'open_account_flg']

In [25]:
all_data["credit_sum"] = all_data["credit_sum"].apply(lambda x: x.replace(',','.')).apply(pd.to_numeric)
all_data["score_shk"] = all_data["score_shk"].apply(lambda x: x.replace(',','.')).apply(pd.to_numeric)

In [10]:
for col, type_of_col in zip(all_data.columns, all_data.dtypes):
    print(col, type_of_col)

age int64
client_id int64
credit_count float64
credit_month int64
credit_sum float64
education object
gender object
job_position object
living_region object
marital_status object
monthly_income float64
open_account_flg float64
overdue_credit_count float64
score_shk float64
tariff_id float64

In [11]:
all_data['monthly_income'].fillna(-1, inplace=True)
all_data['monthly_income_group'] = pd.qcut(all_data['monthly_income'], 
                                           10, labels=[str(x) + 'monthly_income' for x in range(1,11)])
all_data["monthly_income_group"].value_counts()

1monthly_income     41872
4monthly_income     33194
3monthly_income     29246
6monthly_income     28792
5monthly_income     27950
10monthly_income    26025
9monthly_income     24564
8monthly_income     22619
7monthly_income     17184
2monthly_income     11240
Name: monthly_income_group, dtype: int64

In [12]:
all_data['ratio_credit_sum_to_month'] = all_data['credit_sum'] / all_data['credit_month']

all_data['ratio_credit_sum_to_month_group'] = pd.qcut(all_data['ratio_credit_sum_to_month'], 
                                           10, labels=[str(x) + 'ratio_credit_sum_to_month' for x in range(1,11)])
all_data["ratio_credit_sum_to_month_group"].value_counts()

6ratio_credit_sum_to_month     26411
3ratio_credit_sum_to_month     26296
9ratio_credit_sum_to_month     26281
2ratio_credit_sum_to_month     26270
1ratio_credit_sum_to_month     26270
5ratio_credit_sum_to_month     26267
10ratio_credit_sum_to_month    26256
4ratio_credit_sum_to_month     26249
8ratio_credit_sum_to_month     26246
7ratio_credit_sum_to_month     26140
Name: ratio_credit_sum_to_month_group, dtype: int64

In [13]:
all_data['ratio_monthly_income_to_credit_sum'] = all_data['monthly_income'] / all_data['credit_sum']

all_data['ratio_monthly_income_to_credit_sum_group'] = pd.qcut(all_data['ratio_monthly_income_to_credit_sum'], 
                                           10, labels=[str(x) + 'ratio_monthly_income_to_credit_sum' for x in range(1,11)])
all_data["ratio_monthly_income_to_credit_sum_group"].value_counts()

5ratio_monthly_income_to_credit_sum     26281
8ratio_monthly_income_to_credit_sum     26271
7ratio_monthly_income_to_credit_sum     26270
1ratio_monthly_income_to_credit_sum     26270
4ratio_monthly_income_to_credit_sum     26269
10ratio_monthly_income_to_credit_sum    26268
3ratio_monthly_income_to_credit_sum     26268
2ratio_monthly_income_to_credit_sum     26268
9ratio_monthly_income_to_credit_sum     26265
6ratio_monthly_income_to_credit_sum     26256
Name: ratio_monthly_income_to_credit_sum_group, dtype: int64

In [14]:
all_data['age_group'] = pd.qcut(all_data['age'], 10, labels=[str(x) + 'age_group' for x in range(1,11)])
all_data["age_group"].value_counts()

6age_group     32893
4age_group     31906
2age_group     30831
9age_group     26709
1age_group     26444
10age_group    24988
8age_group     23936
3age_group     23393
7age_group     22320
5age_group     19266
Name: age_group, dtype: int64

In [15]:
all_data['credit_sum_group'] = pd.qcut(all_data['credit_sum'], 10, labels=[str(x) + 'credit_sum_group' for x in range(1,11)])
all_data["credit_sum_group"].value_counts()

1credit_sum_group     26298
8credit_sum_group     26278
3credit_sum_group     26272
6credit_sum_group     26270
10credit_sum_group    26269
7credit_sum_group     26267
4credit_sum_group     26264
9credit_sum_group     26259
2credit_sum_group     26259
5credit_sum_group     26250
Name: credit_sum_group, dtype: int64

In [16]:
all_data['score_shk_group'] = pd.qcut(all_data['score_shk'], 5, labels=[str(x) + 'score_shk_group' for x in range(1,6)])
all_data["score_shk_group"].value_counts()

1score_shk_group    52560
2score_shk_group    52540
5score_shk_group    52536
3score_shk_group    52526
4score_shk_group    52524
Name: score_shk_group, dtype: int64

In [18]:
#import nicode
def normalize_reg(x):
    if isinstance(x, str):
        x = x.upper()
        x = x.replace('РЕСПУБЛИКА', '')
        x = x.replace('РЕСП', '')
        x = x.replace('ОБЛАСТЬ', '')
        x = x.replace('ОБЛ', '')
        x = x.replace('КРАЙ', '')
        x = x.replace('Г ', '')
        x = x.replace(' Г', '')
        x = x.replace('Г.', '')
        x = x.replace('АО ', '')
        x = x.replace(' АО', '')
        x = x.replace('АO', '')
        x = x.replace('ЧУВАШСКАЯ', '')
        x = x.replace('(', '')
        x = x.replace(')', '')
        x = x.replace('/', '')
        x = x.replace(' ', '')
        x = x.replace('.', '')
        x = x.replace('-', '')

        x = x.replace('ЧУВАШСКАЯ', '')
        x = x.replace('ОРЁЛ', '')
        x = x.replace('СЕВЕРНАЯ', 'СЕВ')
        if 'ХМАО' in x:
            x = 'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ-ЮГРА'
        if 'ЕВРЕЙ' in x:
            x = 'ЕВРЕЙСКАЯАО'
        if 'КАМЧ' in x:
            x = 'КАМЧАТКА'
        if 'ХАНТЫ' in x:
            x = 'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ-ЮГРА'
        if 'САХА' in x:
            x = 'ЯКУТИЯ'
        if 'АЛТАЙ' in x:
            x = 'АЛТАЙ'
        if 'МОСКОВСКИЙ' in x:
            x = 'МОСКОВСКАЯ'
        if 'МОСКВОС' in x:
            x = 'МОСКОВСКАЯ'
        if 'МОСКОВСКАЯ' in x:
            x = 'МОСКОВСКАЯ'
        if 'РОССИЯ' in x:
            x = 'МОСКВА'
        if ('ЧЕЛЯБ' in x) or x == '74':
            x = 'ЧЕЛЯБИНСК'
        if x == '98' or x in 'САНКТПЕТЕРБУРГ':
            x = 'Г.САНКТ-ПЕТЕРБУРГ'
        if x == 'КАРАЧ':
            x = 'КАРАЧАЕВО-ЧЕРКЕССКАЯ'
        if x == 'БРЯНСКИЙ':
            x = 'БРЯНСКАЯ'
        if x == 'ПЕРМСКАЯ':
            x = 'ПЕРМСКИЙ'   
                        
    return x

In [19]:
all_data["normalized_living_region"] = all_data["living_region"].apply(normalize_reg)

all_data["normalized_living_region"] = all_data["normalized_living_region"].fillna('NAN')

all_data["normalized_living_region"].unique()

array(['КРАСНОДАРСКИЙ', 'МОСКВА', 'САРАТОВСКАЯ', 'ВОЛГОГРАДСКАЯ',
       'ЧЕЛЯБИНСК', 'СТАВРОПОЛЬСКИЙ', 'НИЖЕГОРОДСКАЯ', 'МОСКОВСКАЯ',
       'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ-ЮГРА', 'Г.САНКТ-ПЕТЕРБУРГ',
       'БАШКОРТОСТАН', 'АРХАНГЕЛЬСКАЯ', 'ПЕРМСКИЙ', 'КАРАЧАЕВОЧЕРКЕССКАЯ',
       'КАЛУЖСКАЯ', 'ВОЛОГОДСКАЯ', 'РОСТОВСКАЯ', 'УДМУРТСКАЯ', 'ИРКУТСКАЯ',
       'ПРИВОЛЖСКИЙФЕДЕРАЛЬНЫЙОКРУГ', 'ТЮМЕНСКАЯ', 'БЕЛГОРОДСКАЯ',
       'КОСТРОМСКАЯ', 'ХАКАСИЯ', 'ТАТАРСТАН', 'СВЕРДЛОВСКАЯ', 'ПСКОВСКАЯ',
       'ЗАБАЙКАЛЬСКИЙ', 'ОРЕНБУРГСКАЯ', 'ВОРОНЕЖСКАЯ', 'АСТРАХАНСКАЯ',
       'НОВОСИБИРСКАЯ', 'КУРГАНСКАЯ', 'УЛЬЯНОВСКАЯ', 'МУРМАНСКАЯ',
       'КРАСНОЯРСКИЙ', 'БУРЯТИЯ', 'ЯКУТИЯ', 'АМУРСКАЯ', 'ХАБАРОВСКИЙ',
       'ЯМАЛОНЕНЕЦКИЙ', 'САМАРСКАЯ', 'ТВЕРСКАЯ', 'ЯРОСЛАВСКАЯ',
       'ВЛАДИМИРСКАЯ', 'ЛЕНИНГРАДСКАЯ', 'ОРЛОВСКАЯ', 'КЕМЕРОВСКАЯ',
       'ОМСКАЯ', 'ЧЕЧЕНСКАЯ', 'КУРСКАЯ', 'ТУЛЬСКАЯ', 'АДЫГЕЯ', 'КОМИ',
       'ПРИМОРСКИЙ', 'СМОЛЕНСКАЯ', 'КИРОВСКАЯ', 'ДАГЕСТАН', 'ПЕНЗЕНСКАЯ',
       'КАРЕЛИЯ', 'ТОМСКАЯ', 'МАГАДАНСКАЯ', 'МАРИЙЭЛ', 'ИВАНОВСКАЯ',
       'ЕВРЕЙСКАЯАО', 'АЛТАЙ', 'КАБАРДИНОБАЛКАРСКАЯ', 'ТАМБОВСКАЯ', 'ТЫВА',
       'НОВГОРОДСКАЯ', 'ЛИПЕЦКАЯ', 'СЕВОСЕТИЯАЛАНИЯ', 'РЯЗАНСКАЯ',
       'ЧУВАШИЯ', 'NAN', 'КАМЧАТКА', 'МОРДОВИЯ', 'КАЛМЫКИЯ', 'БРЯНСКАЯ',
       'КАЛИНИНГРАДСКАЯ', 'НЕНЕЦКИЙ', 'ЧУКОТСКИЙ', 'ГОРЬКОВСКАЯ',
       'ИНГУШЕТИЯ', 'ЧИТИНСКАЯ', 'МЫТИЩИНСКИЙРН', 'ЭВЕНКИЙСКИЙ',
       'ГУСЬХРУСТАЛЬНЫЙРН', 'ДАЛЬНИЙВОСТОК'], dtype=object)

In [20]:
all_data["normalized_living_region"].unique()

array(['КРАСНОДАРСКИЙ', 'МОСКВА', 'САРАТОВСКАЯ', 'ВОЛГОГРАДСКАЯ',
       'ЧЕЛЯБИНСК', 'СТАВРОПОЛЬСКИЙ', 'НИЖЕГОРОДСКАЯ', 'МОСКОВСКАЯ',
       'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ-ЮГРА', 'Г.САНКТ-ПЕТЕРБУРГ',
       'БАШКОРТОСТАН', 'АРХАНГЕЛЬСКАЯ', 'ПЕРМСКИЙ', 'КАРАЧАЕВОЧЕРКЕССКАЯ',
       'КАЛУЖСКАЯ', 'ВОЛОГОДСКАЯ', 'РОСТОВСКАЯ', 'УДМУРТСКАЯ', 'ИРКУТСКАЯ',
       'ПРИВОЛЖСКИЙФЕДЕРАЛЬНЫЙОКРУГ', 'ТЮМЕНСКАЯ', 'БЕЛГОРОДСКАЯ',
       'КОСТРОМСКАЯ', 'ХАКАСИЯ', 'ТАТАРСТАН', 'СВЕРДЛОВСКАЯ', 'ПСКОВСКАЯ',
       'ЗАБАЙКАЛЬСКИЙ', 'ОРЕНБУРГСКАЯ', 'ВОРОНЕЖСКАЯ', 'АСТРАХАНСКАЯ',
       'НОВОСИБИРСКАЯ', 'КУРГАНСКАЯ', 'УЛЬЯНОВСКАЯ', 'МУРМАНСКАЯ',
       'КРАСНОЯРСКИЙ', 'БУРЯТИЯ', 'ЯКУТИЯ', 'АМУРСКАЯ', 'ХАБАРОВСКИЙ',
       'ЯМАЛОНЕНЕЦКИЙ', 'САМАРСКАЯ', 'ТВЕРСКАЯ', 'ЯРОСЛАВСКАЯ',
       'ВЛАДИМИРСКАЯ', 'ЛЕНИНГРАДСКАЯ', 'ОРЛОВСКАЯ', 'КЕМЕРОВСКАЯ',
       'ОМСКАЯ', 'ЧЕЧЕНСКАЯ', 'КУРСКАЯ', 'ТУЛЬСКАЯ', 'АДЫГЕЯ', 'КОМИ',
       'ПРИМОРСКИЙ', 'СМОЛЕНСКАЯ', 'КИРОВСКАЯ', 'ДАГЕСТАН', 'ПЕНЗЕНСКАЯ',
       'КАРЕЛИЯ', 'ТОМСКАЯ', 'МАГАДАНСКАЯ', 'МАРИЙЭЛ', 'ИВАНОВСКАЯ',
       'ЕВРЕЙСКАЯАО', 'АЛТАЙ', 'КАБАРДИНОБАЛКАРСКАЯ', 'ТАМБОВСКАЯ', 'ТЫВА',
       'НОВГОРОДСКАЯ', 'ЛИПЕЦКАЯ', 'СЕВОСЕТИЯАЛАНИЯ', 'РЯЗАНСКАЯ',
       'ЧУВАШИЯ', 'NAN', 'КАМЧАТКА', 'МОРДОВИЯ', 'КАЛМЫКИЯ', 'БРЯНСКАЯ',
       'КАЛИНИНГРАДСКАЯ', 'НЕНЕЦКИЙ', 'ЧУКОТСКИЙ', 'ГОРЬКОВСКАЯ',
       'ИНГУШЕТИЯ', 'ЧИТИНСКАЯ', 'МЫТИЩИНСКИЙРН', 'ЭВЕНКИЙСКИЙ',
       'ГУСЬХРУСТАЛЬНЫЙРН', 'ДАЛЬНИЙВОСТОК'], dtype=object)

In [21]:
all_data["living_region"] = all_data["living_region"].fillna('NAN')

In [22]:
ross_stat = pd.read_excel('data.xls')

def ROSSSTAT_normalize_reg(x):
    if isinstance(x, str):
        x = x.upper()
        x = x.replace('        ', '')
        x = x.replace('    ', '')
            
    return x

In [23]:
ross_stat[ross_stat.columns[0]].fillna('drop',inplace=True)
ross_stat["normalized_living_region"] = ross_stat[ross_stat.columns[0]].apply(ROSSSTAT_normalize_reg)

In [24]:
ross_stat.columns = ['region',
       'mean_monthly_income_by_region', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'normalized_living_region']

In [25]:
dict_normalized_region_to_mean_income = pd.Series(ross_stat.mean_monthly_income_by_region.values,
                                                  index=ross_stat.normalized_living_region).to_dict()

In [26]:
unique_normalized_dict = {value for value in all_data["normalized_living_region"].unique()}
unique_normalized_dict = dict.fromkeys(unique_normalized_dict)

In [27]:
for k,v in dict_normalized_region_to_mean_income.items():
    if any(key.startswith(k) for key in unique_normalized_dict):
        print(k)

Г.САНКТ-ПЕТЕРБУРГ
ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ-ЮГРА

In [29]:
import collections

dict_normalized_region_to_mean_income = collections.OrderedDict(sorted(dict_normalized_region_to_mean_income.items()))
unique_normalized_dict = collections.OrderedDict(sorted(unique_normalized_dict.items()))

In [30]:
for (k,v), (k2,v2) in zip(dict_normalized_region_to_mean_income.items(), 
                          unique_normalized_dict.items()):
    #print(k,v)
    #print(k2,v2)
    if any(key.startswith(k2) for key in dict_normalized_region_to_mean_income):
        unique_normalized_dict[k2] = v

In [31]:
normal_regs = []
for reg in all_data["normalized_living_region"].unique():
    if ross_stat["normalized_living_region"].str.contains(reg).any():
        normal_regs.append(reg)
    else:
        print(reg)

КАРАЧАЕВОЧЕРКЕССКАЯ
ПРИВОЛЖСКИЙФЕДЕРАЛЬНЫЙОКРУГ
ЯМАЛОНЕНЕЦКИЙ
МАРИЙЭЛ
ЕВРЕЙСКАЯАО
КАБАРДИНОБАЛКАРСКАЯ
СЕВОСЕТИЯАЛАНИЯ
ЧУВАШИЯ
NAN
КАМЧАТКА
ГОРЬКОВСКАЯ
ЧИТИНСКАЯ
МЫТИЩИНСКИЙРН
ЭВЕНКИЙСКИЙ
ГУСЬХРУСТАЛЬНЫЙРН
ДАЛЬНИЙВОСТОК

In [32]:
unique_normalized_dict.values()

odict_values([None, None, 32901.7, 38299.6, 35591.7, 25498.7, None, 21679, 23876.5, None, 27444.5, 24905.9, 21848.2, 64310.4, 44187, None, None, None, None, None, 20866.1, 28262.2, None, 57403.6, None, 28263, None, 21796.2, None, None, None, 22064.3, 23921.4, None, 24524.1, 65996.3, 40642.7, 45989.4, 71229.6, 26480.7, 26346.4, 28045.5, None, None, None, 23191.9, 28527.9, None, 33806.5, 21553.3, 22087.1, 22902.8, 25927.5, 28385.6, 19238.9, 21480.6, 20108.5, None, 41364.9, 22440.3, 21946.8, 22028.5, 54630.9, 21266.6, 29147.1, None, 29934.8, 34029.5, 25007.5, None, 26849.2, 22528.2, 61311.3, None, 37930.5, 21719.8, 29615.6, 23469.8, None, 21725.2, 24804.3, 34041.1, None, None, 35868.7, None, None, None, 38041.3])

In [35]:
{k: v for k, v in unique_normalized_dict.items() if v is None}

{}

In [34]:
unique_normalized_dict['АДЫГЕЯ'] = 22087.1
unique_normalized_dict['БАШКОРТОСТАН'] = 25927.5
unique_normalized_dict['БУРЯТИЯ'] = 28385.6
unique_normalized_dict['ГОРЬКОВСКАЯ'] = 26480.7 #
unique_normalized_dict['ГУСЬХРУСТАЛЬНЫЙРН'] = 23876.5 #
unique_normalized_dict['ДАГЕСТАН'] = 19238.9
unique_normalized_dict['ДАЛЬНИЙВОСТОК'] = 43163.5

unique_normalized_dict['ЕВРЕЙСКАЯАО'] = 30895.7
unique_normalized_dict['ИНГУШЕТИЯ'] = 21480.6
unique_normalized_dict['КАБАРДИНОБАЛКАРСКАЯ'] = 20866.1
unique_normalized_dict['КАЛМЫКИЯ'] = 20108.5
unique_normalized_dict['КАМЧАТКА'] = 57403.6 
unique_normalized_dict['КАРАЧАЕВОЧЕРКЕССКАЯ'] = 20511.4
unique_normalized_dict['КАРЕЛИЯ'] = 30704.2
unique_normalized_dict['МАРИЙЭЛ'] = 21946.8
unique_normalized_dict['МОРДОВИЯ'] = 22028.5
unique_normalized_dict['МОСКВА'] = 64310.4
unique_normalized_dict['МЫТИЩИНСКИЙРН'] = 64310.4 #
unique_normalized_dict['ПРИВОЛЖСКИЙФЕДЕРАЛЬНЫЙОКРУГ'] = 25632.1
unique_normalized_dict['СЕВОСЕТИЯАЛАНИЯ'] = 21266.6
unique_normalized_dict['ТАТАРСТАН'] = 29147.1
unique_normalized_dict['ТЫВА'] = 28321.7
unique_normalized_dict['ХАКАСИЯ'] = 29934.8
unique_normalized_dict['ЧИТИНСКАЯ'] = 30930.8 #
unique_normalized_dict['ЧУВАШИЯ'] = 21369.4 
unique_normalized_dict['ЭВЕНКИЙСКИЙ'] = 36070.8 #
unique_normalized_dict['ЯКУТИЯ'] = 54630.9
unique_normalized_dict['ЯМАЛОНЕНЕЦКИЙ'] = 77271.7
unique_normalized_dict['КОМИ'] = 41364.9
unique_normalized_dict['NAN'] = 34029.5

In [36]:
all_data['mean_income_by_normalized_living_region'] = all_data['normalized_living_region'].map(unique_normalized_dict)

In [37]:
all_data['credit_count'].fillna(-1, inplace=True)
all_data['overdue_credit_count'].fillna(-1, inplace=True)
all_data['monthly_income'].fillna(-1, inplace=True)

In [ ]:
all_data['diff_customer_income_mean_income_by_normalized_living_region'] = \
                                     all_data['monthly_income'] - all_data['mean_income_by_normalized_living_region']

In [ ]:
all_data['diff_customer_income_credit_sum'] = \
                                     all_data['monthly_income'] - all_data['credit_sum']

In [ ]:
all_data['ratio_customer_income_to_mean_income_by_normalized_living_region'] = \
                                     all_data['monthly_income'] / all_data['mean_income_by_normalized_living_region']

In [38]:
num_columns = all_data.select_dtypes(include=[np.number]).columns
cat_columns = [col for col in all_data.columns if col not in num_columns]

train = all_data[:train.shape[0]]
test = all_data[train.shape[0]:]

for column in cat_columns:
    if sorted(train[column].unique()) != sorted(test[column].unique()):
        print(column)

living_region
normalized_living_region

In [39]:
def make_cont_cat_feature(dataframe, cont_feature, cat_feature):
    
    lamb = 30
    new_column_name = 'special_mean'+ '_' + cat_feature+'_'+cont_feature
    dataframe[new_column_name] = np.nan
    total_mean = dataframe[cont_feature].mean()
    
    #counting number of occurrences
    categories_count = {value for value in dataframe[cat_feature].unique()}
    categories_count = dict.fromkeys(categories_count)
    for k,v in categories_count.items():
        categories_count[k] = dataframe[dataframe[cat_feature] == k][cat_feature].count()
        
    #counting mean of each category 
    means = {value for value in dataframe[cat_feature].unique()}
    means = dict.fromkeys(means)
    for k,v in means.items():
        means[k] = dataframe[dataframe[cat_feature] == k][cont_feature].mean()
    
    #counting special mean-indicator of each category 
    special = {value for value in dataframe[cat_feature].unique()}
    special = dict.fromkeys(special)
    for k,v in special.items():
        special[k] = (means[k]*categories_count[k] + total_mean*lamb)/(categories_count[k] + lamb)
    
    dataframe[new_column_name] = dataframe[cat_feature].map(special)

In [40]:
#ratio_credit_sum_to_month_group

make_cont_cat_feature(all_data, 'credit_count', 'ratio_credit_sum_to_month_group')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'ratio_credit_sum_to_month_group')
make_cont_cat_feature(all_data, 'score_shk', 'ratio_credit_sum_to_month_group')
make_cont_cat_feature(all_data, 'monthly_income', 'ratio_credit_sum_to_month_group')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'ratio_credit_sum_to_month_group')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'ratio_credit_sum_to_month_group')

In [41]:
#job_position

make_cont_cat_feature(all_data, 'credit_sum', 'job_position')
make_cont_cat_feature(all_data, 'credit_month', 'job_position')
make_cont_cat_feature(all_data, 'credit_count', 'job_position')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'job_position')
make_cont_cat_feature(all_data, 'score_shk', 'job_position')
make_cont_cat_feature(all_data, 'monthly_income', 'job_position')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'job_position')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'job_position')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'job_position')

In [42]:
#education

make_cont_cat_feature(all_data, 'credit_sum', 'education')
make_cont_cat_feature(all_data, 'credit_month', 'education')
make_cont_cat_feature(all_data, 'credit_count', 'education')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'education')
make_cont_cat_feature(all_data, 'score_shk', 'education')
make_cont_cat_feature(all_data, 'monthly_income', 'education')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'education')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'education')

In [43]:
#marital_status

make_cont_cat_feature(all_data, 'credit_sum', 'marital_status')
make_cont_cat_feature(all_data, 'credit_month', 'marital_status')
make_cont_cat_feature(all_data, 'credit_count', 'marital_status')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'marital_status')
make_cont_cat_feature(all_data, 'score_shk', 'marital_status')
make_cont_cat_feature(all_data, 'monthly_income', 'marital_status')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'marital_status')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'marital_status')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'marital_status')

In [44]:
#gender

make_cont_cat_feature(all_data, 'credit_sum', 'gender')
make_cont_cat_feature(all_data, 'credit_month', 'gender')
make_cont_cat_feature(all_data, 'credit_count', 'gender')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'gender')
make_cont_cat_feature(all_data, 'score_shk', 'gender')
make_cont_cat_feature(all_data, 'monthly_income', 'gender')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'gender')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'gender')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'gender')

In [45]:
#age_group

make_cont_cat_feature(all_data, 'credit_sum', 'age_group')
make_cont_cat_feature(all_data, 'credit_month', 'age_group')
make_cont_cat_feature(all_data, 'credit_count', 'age_group')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'age_group')
make_cont_cat_feature(all_data, 'score_shk', 'age_group')
make_cont_cat_feature(all_data, 'monthly_income', 'age_group')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'age_group')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'age_group')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'age_group')

In [46]:
#living_region

make_cont_cat_feature(all_data, 'credit_sum', 'living_region')
make_cont_cat_feature(all_data, 'credit_month', 'living_region')
make_cont_cat_feature(all_data, 'credit_count', 'living_region')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'living_region')
make_cont_cat_feature(all_data, 'score_shk', 'living_region')
make_cont_cat_feature(all_data, 'monthly_income', 'living_region')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'living_region')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'living_region')

In [47]:
#credit_sum_group

make_cont_cat_feature(all_data, 'credit_month', 'credit_sum_group')
make_cont_cat_feature(all_data, 'credit_count', 'credit_sum_group')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'credit_sum_group')
make_cont_cat_feature(all_data, 'score_shk', 'credit_sum_group')
make_cont_cat_feature(all_data, 'monthly_income', 'credit_sum_group')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'credit_sum_group')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'credit_sum_group')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'credit_sum_group')

In [48]:
#normalized_living_region

make_cont_cat_feature(all_data, 'credit_sum', 'normalized_living_region')
make_cont_cat_feature(all_data, 'credit_month', 'normalized_living_region')
make_cont_cat_feature(all_data, 'credit_count', 'normalized_living_region')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'normalized_living_region')
make_cont_cat_feature(all_data, 'score_shk', 'normalized_living_region')
make_cont_cat_feature(all_data, 'monthly_income', 'normalized_living_region')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'normalized_living_region')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'normalized_living_region')

In [49]:
#score_shk

make_cont_cat_feature(all_data, 'credit_sum', 'score_shk_group')
make_cont_cat_feature(all_data, 'credit_month', 'score_shk_group')
make_cont_cat_feature(all_data, 'credit_count', 'score_shk_group')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'score_shk_group')
make_cont_cat_feature(all_data, 'monthly_income', 'score_shk_group')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'score_shk_group')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'score_shk_group')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'score_shk_group')

In [50]:
#tariff_id

all_data["tariff_id"] = all_data['tariff_id'].astype(str)

make_cont_cat_feature(all_data, 'credit_sum', 'tariff_id')
make_cont_cat_feature(all_data, 'credit_month', 'tariff_id')
make_cont_cat_feature(all_data, 'credit_count', 'tariff_id')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'tariff_id')
make_cont_cat_feature(all_data, 'score_shk', 'tariff_id')
make_cont_cat_feature(all_data, 'monthly_income', 'tariff_id')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'tariff_id')
make_cont_cat_feature(all_data, 'ratio_monthly_income_to_credit_sum', 'tariff_id')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'tariff_id')

In [51]:
#monthly_income

make_cont_cat_feature(all_data, 'credit_sum', 'monthly_income_group')
make_cont_cat_feature(all_data, 'credit_month', 'monthly_income_group')
make_cont_cat_feature(all_data, 'credit_count', 'monthly_income_group')
make_cont_cat_feature(all_data, 'overdue_credit_count', 'monthly_income_group')
make_cont_cat_feature(all_data, 'score_shk', 'monthly_income_group')
make_cont_cat_feature(all_data, 'ratio_credit_sum_to_month', 'monthly_income_group')
make_cont_cat_feature(all_data, 'mean_income_by_normalized_living_region', 'monthly_income_group')

In [53]:
num_columns = all_data.select_dtypes(include=[np.number]).columns
cat_columns = [col for col in all_data.columns if col not in num_columns]

In [54]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

for column in all_data[cat_columns] :
    encoder_lab = LabelEncoder()
    if column in cat_columns:
        all_data[column] = encoder_lab.fit_transform(all_data[column])

In [55]:
for column in all_data.columns:
    if all_data[column].isnull().any():
        print('{0} , null_count : {1}'.format(column, all_data[column].isnull().sum()))

open_account_flg , null_count : 91940

In [56]:
features = [col for col in all_data.columns if col != 'open_account_flg']

train = all_data[:train.shape[0]]
test = all_data[train.shape[0]:]

In [57]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(train[features], train['open_account_flg'], test_size=0.2, 
                                                    stratify=train['open_account_flg'], random_state=42)

In [60]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel


clf = ExtraTreesClassifier(n_estimators=1000, max_features=10)
clf = clf.fit(X_test, y_test)
model = SelectFromModel(clf, prefit=True)
New_features = model.transform(features)
print(New_features.shape)

/usr/local/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

(1, 64)

In [61]:
New_features

array([['age', 'client_id', 'credit_count', 'credit_month', 'credit_sum',
        'living_region', 'monthly_income', 'overdue_credit_count',
        'score_shk', 'tariff_id', 'monthly_income_group',
        'ratio_credit_sum_to_month', 'ratio_credit_sum_to_month_group',
        'ratio_monthly_income_to_credit_sum',
        'ratio_monthly_income_to_credit_sum_group', 'age_group',
        'normalized_living_region',
        'mean_income_by_normalized_living_region',
        'special_mean_ratio_credit_sum_to_month_group_credit_count',
        'special_mean_ratio_credit_sum_to_month_group_overdue_credit_count',
        'special_mean_ratio_credit_sum_to_month_group_score_shk',
        'special_mean_ratio_credit_sum_to_month_group_monthly_income',
        'special_mean_ratio_credit_sum_to_month_group_ratio_monthly_income_to_credit_sum',
        'special_mean_ratio_credit_sum_to_month_group_mean_income_by_normalized_living_region',
        'special_mean_age_group_credit_sum',
        'special_mean_age_group_credit_month',
        'special_mean_age_group_credit_count',
        'special_mean_age_group_overdue_credit_count',
        'special_mean_age_group_score_shk',
        'special_mean_age_group_monthly_income',
        'special_mean_age_group_ratio_credit_sum_to_month',
        'special_mean_age_group_ratio_monthly_income_to_credit_sum',
        'special_mean_age_group_mean_income_by_normalized_living_region',
        'special_mean_living_region_credit_sum',
        'special_mean_living_region_credit_month',
        'special_mean_living_region_credit_count',
        'special_mean_living_region_overdue_credit_count',
        'special_mean_living_region_score_shk',
        'special_mean_living_region_monthly_income',
        'special_mean_living_region_ratio_credit_sum_to_month',
        'special_mean_living_region_ratio_monthly_income_to_credit_sum',
        'special_mean_credit_sum_group_credit_month',
        'special_mean_credit_sum_group_credit_count',
        'special_mean_credit_sum_group_score_shk',
        'special_mean_credit_sum_group_ratio_monthly_income_to_credit_sum',
        'special_mean_normalized_living_region_credit_sum',
        'special_mean_normalized_living_region_credit_month',
        'special_mean_normalized_living_region_credit_count',
        'special_mean_normalized_living_region_overdue_credit_count',
        'special_mean_normalized_living_region_score_shk',
        'special_mean_normalized_living_region_monthly_income',
        'special_mean_normalized_living_region_ratio_credit_sum_to_month',
        'special_mean_normalized_living_region_ratio_monthly_income_to_credit_sum',
        'special_mean_tariff_id_credit_sum',
        'special_mean_tariff_id_credit_month',
        'special_mean_tariff_id_credit_count',
        'special_mean_tariff_id_overdue_credit_count',
        'special_mean_monthly_income_group_credit_sum',
        'special_mean_monthly_income_group_credit_month',
        'special_mean_monthly_income_group_credit_count',
        'special_mean_monthly_income_group_overdue_credit_count',
        'special_mean_monthly_income_group_score_shk',
        'special_mean_monthly_income_group_ratio_credit_sum_to_month',
        'special_mean_monthly_income_group_mean_income_by_normalized_living_region']],
      dtype='<U84')

In [39]:
num_columns = all_data.select_dtypes(include=[np.number]).columns
cat_columns = [col for col in all_data.columns if col not in num_columns]

In [45]:
for column in all_data.columns:
    if all_data[column].isnull().any():
        print('{0} , null_count : {1}'.format(column, all_data[column].isnull().sum()))

open_account_flg , null_count : 91940
normalized_living_region , null_count : 434

In [41]:
cat_columns

['education',
 'gender',
 'job_position',
 'living_region',
 'marital_status',
 'tariff_id',
 'monthly_income_group',
 'ratio_credit_sum_to_month_group',
 'ratio_monthly_income_to_credit_sum_group',
 'age_group',
 'credit_sum_group',
 'score_shk_group',
 'normalized_living_region']

In [62]:
all_data.to_csv('all_data_new_features_18feb_added_non_encoded.csv', sep='\t', index=False, header=True)

# -*- coding: utf-8 -*-
all_data = pd.read_csv('all_data_new_features_18feb_added_non_encoded.csv', delimiter='\t')
all_data.head(10)

,age,client_id,credit_count,credit_month,credit_sum,education,gender,job_position,living_region,marital_status,...,special_mean_tariff_id_ratio_credit_sum_to_month,special_mean_tariff_id_ratio_monthly_income_to_credit_sum,special_mean_tariff_id_mean_income_by_normalized_living_region,special_mean_monthly_income_group_credit_sum,special_mean_monthly_income_group_credit_month,special_mean_monthly_income_group_credit_count,special_mean_monthly_income_group_overdue_credit_count,special_mean_monthly_income_group_score_shk,special_mean_monthly_income_group_ratio_credit_sum_to_month,special_mean_monthly_income_group_mean_income_by_normalized_living_region
0,48,1,1.0,10,59998.00,1,1,14,98,2,...,2910.091795,1.699173,35277.376756,23439.364308,10.978312,1.811019,-0.021258,0.474058,2202.531478,33864.040640
1,28,2,2.0,6,10889.00,1,0,14,112,2,...,2181.455281,2.142674,34513.524731,28586.220536,11.002813,2.080590,-0.003270,0.470157,2695.220814,36192.070943
2,32,3,5.0,12,10728.00,3,1,13,164,2,...,2181.455281,2.142674,34513.524731,19489.173499,10.960730,1.702421,-0.028153,0.485868,1824.474016,33005.680472
3,27,4,2.0,12,12009.09,1,0,13,136,1,...,2181.455281,2.142674,34513.524731,17866.364910,10.897342,1.495592,-0.030292,0.480744,1681.420311,32568.307260
4,45,5,1.0,10,16908.89,3,1,13,302,2,...,2181.455281,2.142674,34513.524731,21332.203622,10.958171,1.721283,-0.027917,0.480842,2002.248235,33208.299147
5,37,6,0.0,10,26788.00,3,0,13,277,2,...,2181.455281,2.142674,34513.524731,23439.364308,10.978312,1.811019,-0.021258,0.474058,2202.531478,33864.040640
6,34,7,3.0,6,10317.00,3,1,13,153,2,...,2505.809225,2.144760,36790.380425,23439.364308,10.978312,1.811019,-0.021258,0.474058,2202.531478,33864.040640
7,26,8,3.0,10,47878.00,1,0,13,116,3,...,2181.455281,2.142674,34513.524731,32654.720030,11.028073,2.274347,0.011536,0.459179,3087.707074,37907.354628
8,23,9,3.0,12,37577.16,3,1,13,299,3,...,2910.091795,1.699173,35277.376756,30994.072956,11.005096,2.109465,0.007228,0.457631,2931.894889,36964.972918
9,32,10,7.0,10,26268.00,1,0,13,91,3,...,2181.455281,2.142674,34513.524731,26978.027648,10.999286,2.024817,-0.008233,0.469414,2540.708536,35194.107509

In [51]:
all_data.to_csv('all_data_new_features_17feb_added.csv', sep='\t', index=False, header=True)

# -*- coding: utf-8 -*-
all_data = pd.read_csv('all_data_new_features_17feb_added.csv', delimiter='\t')
all_data.head(10)

,age,client_id,credit_count,credit_month,credit_sum,education,gender,job_position,living_region,marital_status,...,special_mean_tariff_id_overdue_credit_count,special_mean_tariff_id_score_shk,special_mean_tariff_id_monthly_income,special_mean_tariff_id_ratio_credit_sum_to_month,special_mean_monthly_income_group_credit_sum,special_mean_monthly_income_group_credit_month,special_mean_monthly_income_group_credit_count,special_mean_monthly_income_group_overdue_credit_count,special_mean_monthly_income_group_score_shk,special_mean_monthly_income_group_ratio_credit_sum_to_month
0,48,1,1.0,10,59998.00,1,1,14,98,2,...,-0.013682,0.593154,39782.023398,2910.091795,23439.364308,10.978312,1.811019,-0.021258,0.474058,2202.531478
1,28,2,2.0,6,10889.00,1,0,14,112,2,...,-0.016971,0.424516,39408.066598,2181.455281,28586.220536,11.002813,2.080590,-0.003270,0.470157,2695.220814
2,32,3,5.0,12,10728.00,3,1,13,164,2,...,-0.016971,0.424516,39408.066598,2181.455281,19489.173499,10.960730,1.702421,-0.028153,0.485868,1824.474016
3,27,4,2.0,12,12009.09,1,0,13,136,1,...,-0.016971,0.424516,39408.066598,2181.455281,17866.364910,10.897342,1.495592,-0.030292,0.480744,1681.420311
4,45,5,1.0,10,16908.89,3,1,13,302,2,...,-0.016971,0.424516,39408.066598,2181.455281,21332.203622,10.958171,1.721283,-0.027917,0.480842,2002.248235
5,37,6,0.0,10,26788.00,3,0,13,277,2,...,-0.016971,0.424516,39408.066598,2181.455281,23439.364308,10.978312,1.811019,-0.021258,0.474058,2202.531478
6,34,7,3.0,6,10317.00,3,1,13,153,2,...,0.013695,0.431778,40264.605026,2505.809225,23439.364308,10.978312,1.811019,-0.021258,0.474058,2202.531478
7,26,8,3.0,10,47878.00,1,0,13,116,3,...,-0.016971,0.424516,39408.066598,2181.455281,32654.720030,11.028073,2.274347,0.011536,0.459179,3087.707074
8,23,9,3.0,12,37577.16,3,1,13,299,3,...,-0.013682,0.593154,39782.023398,2910.091795,30994.072956,11.005096,2.109465,0.007228,0.457631,2931.894889
9,32,10,7.0,10,26268.00,1,0,13,91,3,...,-0.016971,0.424516,39408.066598,2181.455281,26978.027648,10.999286,2.024817,-0.008233,0.469414,2540.708536